:root {
    font-size: 16px;
    font-family: "B612", serif;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --primary-accent: #08A080;
    --secondary-accent: #88D0C0;


    --orange-primary: #fd812e;
    --orange-secondary: #FFCC00;


    --chatui: #d5f1f1;

}


.box {
    background-color: #b6b6b6;

    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    /* border-radius: 15px; */
    /* display:flex; */

    position: fixed;
}

.box_options {
    background-color:white;
    width: 100%;
    height: 5%;

    /* position: relative; */
    display: flex;
    align-items: center;

}

.filename{
    background-color:white;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    top: 1px;
    z-index: 2;


    border-left: 1px solid rgb(196, 194, 194);
    border-right: 1px solid rgb(196, 194, 194);
    border-top: 1px solid rgb(196, 194, 194);

    border-radius: 15px 15px 0px 0px;


}


.min_max_button{
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;

    color:#5e5e5e;

    height:50%;

    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

}

.about{
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
    color:#5e5e5e;

    height:50%;

    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;


    display: flex;
    align-items: center;
    justify-content: center;
    
    
    margin-left: 10px;
}


.box-area {
    height: 93%;
    width: 100%;
    background-color: aquamarine;

    position: relative;

}

.editor {

    position: absolute;
    width: 50%;
    height: 70%;
    top: 0;
    left: 0;

    box-sizing: border-box;
    border-left: 1px solid rgb(196, 194, 194);
    border-right: 1px solid rgb(196, 194, 194);
    border-bottom: 1px solid rgb(196, 194, 194);
    border-top: 1px solid rgb(196, 194, 194);

    

}

.options_menu {

    position: absolute;
    background-color: white;

    
    height: 5%;
    width: 50%;

    top: 70%;
    left: 0;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgb(196, 194, 194);
    /* border-bottom: 2px solid rgb(196, 194, 194); */

    

}


.stdin_area {

    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 0;
    left: 0;
    /* background-color: burlywood; */

    box-sizing: border-box;
    border: 1px solid rgb(196, 194, 194);

}

.stdout_area {

    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(160, 97, 15);


}


/* the bottom banner */
.banner {
    background-color: rgb(167, 217, 250);
    height: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    /* position: absolute; */
    /* bottom: 0; */
}





.hide_stdin {
    border: 1px solid rgb(196, 194, 194);
    color:#5e5e5e;
    border-radius: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;


}

.language {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid rgb(196, 194, 194);
    color:#5e5e5e;

    border-radius: 5px 0px 0px 5px;
    padding-bottom: 4px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;

}

.load {
    border: 1px solid rgb(196, 194, 194);
    color:#5e5e5e;


    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;


}

.setting {
    border: 1px solid rgb(196, 194, 194);
    color:#5e5e5e;


    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;

}

.run_button {
    border: 1px solid rgb(196, 194, 194);
    color:#5e5e5e;

    border-radius: 0px 5px 5px 0px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;

    margin-right: 5px;
}


/* stdout elements */

.right_topbar{

    background-color: white;
    height: 8%;
    width:100%;
    display: flex;
    align-items: center;

    box-sizing: border-box;
    border-bottom: 1px dashed rgb(196, 194, 194);
    border-right: 1px solid rgb(196, 194, 194);
    border-top: 1px solid rgb(196, 194, 194);
    
}

.output{
    background-color:white;
    height: 87%;
    width:100%;

    box-sizing: border-box;
    border-bottom: 1px solid rgb(196, 194, 194);
    border-left: 1px solid rgb(196, 194, 194);
    border-right: 1px solid rgb(196, 194, 194);

    padding: 10px;
    overflow: auto;
}

.right_bottombar{
    background-color: white;
    height: 5%;
    width:100%;
    display: flex;

    box-sizing: border-box;
    border: 1px solid rgb(196, 194, 194);
    
}




.time{
    margin-left:8px;
    
}

.language_info{
    margin-left: auto;
}

.status{
    border: 1px solid rgb(42, 150, 0);
    


    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;

    margin-right:8px;
    margin-left:8px;
    color:white;
    background-color:rgb(119, 199, 0);
    
}

